rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{syncId} {
      allow read, write: if true; // In an anonymous device sync flow, sync ID acts as the secret key
    }
  }
}
